{% load i18n %}
{% translate "Home expenses" as navbar_title %}
{% translate "Menu" as menu_title %}
{% translate "Home" as menu_home %}
{% translate "Add expense" as menu_add_expense %}
{% translate "View expenses" as menu_view_expenses %}
{% translate "My expenses" as menu_user_expenses %}

<nav class="navbar bg-body-secondary fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">{{ navbar_title }}</a>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-start"
             tabindex="-1"
             id="offcanvasNavbar"
             aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">{{ menu_title }}</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-column flex-grow-1 pe-3 mb-auto">
                    {% include "./nav_item.html" with url_name="home" name=menu_home %}
                    {% include "./nav_item.html" with url_name="expense-list" name=menu_view_expenses %}
                    {% include "./nav_item.html" with url_name="expense" name=menu_add_expense %}
                    {% include "./nav_item.html" with url_name="expense-user-list" name=menu_user_expenses %}
                </ul>
                <hr>
                {% include "./user_dropdown.html" %}
            </div>
        </div>
    </div>
</nav>
